<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <meta name="google-signin-client_id" content="1079233913624-v8h0hnrrbkalbhf5upetcluuepvt26og.apps.googleusercontent.com">
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to
    <%= title %>
  </p>

  <div class="g-signin2" data-onsuccess="onSignIn"></div>

  <a href="#" onclick="signOut();">Sign out</a>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function() {
        console.log('User signed out.');
      });
    }
  </script>

  <script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      var id_token = googleUser.getAuthResponse().id_token;

      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/tokensignin');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        console.log('Signed in as: ' + xhr.responseText);
      };
      xhr.send('idtoken=' + id_token);
    }
  </script>

</body>

</html>
